<p>Hello <%= @user.name %>!</p>
<p>Your email is <%= @user.name %> and you have $<%= @user.buying_power %></p>

<%= link_to "Log Out", controller: "sessions", action: "destroy", id: @user, data: { confirm: "Are you sure?" } %>