.login-container{
    text-align: center;
}
.signin {
    padding-top: 10%;
}

.login-box{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-right: 24%;
    margin-left: 24%;
    padding-bottom: 5%;
    letter-spacing: 1px;
}

.login > div{
    padding: 1%;
}

.email > label,
.password > label{
    float: left;
    margin-left: 20%;
}

.fname > label,
.lname > label,
.pword > label,
.pword-conf > label,
.email-lg > label{
    float: left;
    margin-left: 12%;
}

.email > input,
.password > input{
    float: right;
    margin-right: 20%;
}

.fname > input,
.lname > input,
.pword > input,
.pword-conf > input,
.email-lg > input{
    float: right;
    margin-right: 12%;
}

.buttons{
    margin-top: 15%;
}

.signup-box{
    padding-top: 5%;
}

.signup-continue-button{
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

.signup-continue-button:hover,
.login-buttons:hover,
.search-button:hover,
.buy-sell:hover{
    cursor: pointer;
    box-shadow: 0px 4px 8px lightslategrey;
    transition: box-shaow 300ms;
    border: 1px solid lightslategray;
}

.password{
    padding-top: 5%;
}

.email{
    margin-bottom: 4%;
}

.login-box > div{
    margin-top: 2%;
}

.logo{
    display: flex;
    justify-content: center;
}

.bx{
    padding-bottom: 10%;
}

.email-input, 
.pword-input {
    padding: 1%;
    border-radius: 4px;
}

.signin,
.signup{
    margin-bottom: 5%;
}

.s-inputs{
    padding: 1%;
    border-radius: 4px;
    width: 180px;
}

.login-buttons{
    padding: 1%;
    background: none;
    border-radius: 4px;
    margin: 4px;
}

.submit-buttons{
    background-color: lightgrey;
}

.logout-btn{
    cursor: pointer;
}

.transactions-link:hover{
    background-color: lightslategray;
}

.login-box > h2{
    font-size: 24px;
    font-weight: 600;
}