.stock-container{
    display: flex;
    justify-content: space-evenly;
}

.transactions-link{
    float: right;
}

.ticker{
    list-style: none;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.ticker > p{
    font-size: 18px;
}

.tickers{
    padding-left: 0;
}

.transactions{
    width: max-content;
    margin-left: 25%;
}

.transaction-title{
    margin-left: 25%;
}

.green{
    color: green;
}

.red{
    color: red;
}

.grey{
    color: lightgrey;
}

.item,
.ticker{
    margin: 4%;
    width: 100%;
}

.stock-index > h2,
.cash{
    font-size: 28px;
}

.show-wrap, .nav{
    margin-left: 5%;
}

.show-wrap{
    margin-top: 5%;
}

.btns {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
}

.btns:hover{
    color:  #21ce99;
}

.btns:focus{
    outline: none;
}

.ticker-chart > h1{
    font-size: 36px;
    font-weight: 700;
}

.transaction-title{
    font-size: 36px;
    font-weight: 700;
}

.ticker{
    margin-top: 8%;
    margin-bottom: 6%;
    padding-bottom: 4%;
}