.stock-container{
    display: flex;
    justify-content: space-evenly;
}

.transactions-link{
    float: right;
}

.ticker{
    list-style: none;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.ticker > p{
    font-size: 18px;
}

.tickers{
    padding-left: 0;
}

.transactions{
    width: max-content;
    margin-left: 25%;
}

.transaction-title{
    margin-left: 25%;
}

.green{
    color: #3db994;
}

.red{
    color: #f45531;
}

.grey{
    color: lightgrey;
}

.item,
.ticker{
    margin: 4%;
    width: 100%;
}

.stock-index > h2,
.cash{
    font-size: 28px;
}

.show-wrap, .nav{
    margin-left: 5%;
}

.show-wrap{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.btns {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
}

.btns:hover{
    color:  #21ce99;
}

.btns:focus{
    outline: none;
}

.ticker-chart > h1{
    font-size: 36px;
    font-weight: 700;
}

.transaction-title{
    font-size: 36px;
    font-weight: 700;
}

.ticker{
    margin-top: 8%;
    margin-bottom: 6%;
    padding-bottom: 4%;
}

.activeRedBackground{
    background-color: #fff5f3;
  }


  .activeGreenBackground{
    background-color: #e6f9f3;
}

.activeRedBackgroundbutton{
    background-color: #f45531;
    border-color: #f45531;
  }

.activeRedBackgroundbutton:hover{
    background-color: #ff6340;
    cursor: pointer;
    border-color: #ff6340;
} 

  .activeGreenBackgroundbutton{
    background-color: #21ce99;
    border-color: #21ce99;
}


.activeGreenBackgroundbutton:hover{
    background-color: #1ae99a;
    cursor: pointer;
    border-color: #1ae99a;
}

.activeGreen{
    color: #21ce99;
}

.activeRed{
    color: #f45531;
}


.activeGreenhover:hover{
    color: #21ce99;
}

.activeRedhover:hover{
    color: #f45531;
}


.activeGreentab{
    color: #21ce99;
    text-decoration-color: #21ce99;
    border-bottom: 2px solid #21ce99;
}

.activeRedtab{
    color: #f45531;
    text-decoration-color: #f45531;
    border-bottom: 2px solid #f45531;
}