.tab-title{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 4px;
}
.tab-title > li {
    width: 40%;
    padding: 3%;
    padding-left: 12%;
    transition: color 150ms ease-out;
}

.tab-title > li:hover {
    color: darkslategray;
}


.inputs {
    padding: 8px;
    border-radius: 4px;
}

.submit-buttons{
    padding: 9px;
    border-radius: 3px;
    width: 70px;
}

.tk{
    width: 200px;
}

.stock-form{
    margin-top: 10%;
}

.stock-index{
    margin-top: 10%;
}

.logout-btn{
    float: right;
}

.nav-links{
    display: flex;
    justify-content: center;
}

.logo{
    font-size: 42px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-box{
    border-radius: 20px;
}

.transactions-link{
    text-decoration: underline;
    color: darkslategray;
    margin: 0px 5px 0px 5px;
}

.transaction-title{
    font-size: 32px;
}

.ticker{
    margin-top: 4%;
    margin-bottom: 3%;
}

.active{
    text-decoration: underline;
    color: darkslategray;
    border-radius: 5px;
}

.tab-title > li:hover{
    border-radius: 5px;
}

.submit-buttons{
    background-color: lightslategray;
    color: black;
    font-weight: 600;
}

.tab-box{
    z-index: 1;
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.01), 0 3px 24px rgba(48,51,51,0.09);
    box-sizing: content-box;
}