.tab-title{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid rgb(114, 114, 114);
    background-color: rgb(114, 114, 114);
    border-radius: 4px;
}
.tab-title > li {
    width: 40%;
    padding: 3%;
    padding-left: 12%;
}

.tab-title > li:hover {
    background-color: lightgrey;
    border: 1px solid lightgrey;
}

.buy-sell input[type=submit]:focus {
    background-color: lightgrey;
    border: 1px solid lightgrey;
}

.inputs {
    padding: 8px;
    border-radius: 4px;
}

.submit-buttons{
    padding: 9px;
    border-radius: 3px;
    width: 70px;
}

.tk{
    width: 200px;
}

.stock-form{
    margin-top: 10%;
}

.stock-index{
    margin-top: 10%;
}

.logout-btn{
    float: right;
}

.nav-links{
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: 5%;
    margin-top: 10%;
}

.logo{
    font-size: 42px;
    font-family: sans-serif;
    margin-top: 20%;
}

.login-box{
    border-radius: 20px;
}

.transactions-link{
    float: right;
    text-decoration: none;
    color: black;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.transaction-title{
    font-size: 32px;
    font-family: sans-serif;
}

.ticker{
    font-family: sans-serif;
    margin-top: 4%;
    margin-bottom: 3%;
}